@import url('./main-layout.css');
vaadin-button:hover {
    border-color: blue;
  }

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .storie-grid {
        display: none;
    }
}

.centered-dialog-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-dialog-overlay::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centered-dialog {
    width: 100%;
    box-sizing: border-box;
}
